* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.not-found {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.not-found > h1 {
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
}
